<div id="page-container">
  <div id="form-container">
    <mat-card class="semi-transparent-bg">
      <mat-card-header>
        <mat-card-title class="form-header">Place your order</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-burger-form></app-burger-form>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card id="contribution" class="semi-transparent-bg">
    Photo by
    <a
      href="https://unsplash.com/@jonathanborba?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Jonathan Borba</a
    >
    on
    <a
      href="https://unsplash.com/s/photos/fast-food?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Unsplash</a
    >
  </mat-card>
</div>
