<mat-list>
  <!-- BUN -->
  <div mat-subheader>Bun</div>
  <div>[FORM CONTROLS GOES HERE!]</div>
  <!-- BURGERS -->
  <mat-divider></mat-divider>
  <div mat-subheader>
    Burgers
    <button mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div>[FORM CONTROLS GOES HERE!]</div>
  <!-- TOPPINGS -->
  <mat-divider></mat-divider>
  <div mat-subheader>
    Toppings
    <button mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div>[FORM CONTROLS GOES HERE!]</div>
</mat-list>
<button id="submit-btn" mat-raised-button color="primary">Submit</button>
